node-red-flow/first_flow.json
[{"id":"6bf4ae62.28e74","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"323cd4b0.b4bc6c","type":"http in","z":"6bf4ae62.28e74","name":"Send message to socket","url":"/sendmsgsocket","method":"post","upload":false,"swaggerDoc":"","x":139,"y":142,"wires":[["f072ce6b.476868","ffb6455a.c31b7"]]},{"id":"f072ce6b.476868","type":"function","z":"6bf4ae62.28e74","name":"Pre Service Processing","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["b52472ed.533fd"]]},{"id":"833a6120.92af6","type":"function","z":"6bf4ae62.28e74","name":"Post Service Processing","func":"msg.mydata.messageout = msg.payload;\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\nvar globalContext = global;\nglobalContext.set(\"payload\",msg.payload); \nreturn msg;\n\n","outputs":1,"noerr":0,"x":770,"y":200,"wires":[["8753093a.94505","95541ce5.8eae6","64d5bfdb.af5cc8"]]},{"id":"8753093a.94505","type":"http response","z":"6bf4ae62.28e74","name":"","statusCode":"","headers":{},"x":970,"y":140,"wires":[]},{"id":"95541ce5.8eae6","type":"function","z":"6bf4ae62.28e74","name":"","func":"temp=msg.payload.botresponse.messageout.output.action\nif (temp == \"question_completed\") \n{\n  return msg;\n}\n","outputs":1,"noerr":0,"x":730,"y":360,"wires":[["8d8fef4.6af679"]]},{"id":"6e0f6f22.a5bec8","type":"function","z":"6bf4ae62.28e74","name":"","func":"msg._session=\"\";\nvar payload = msg.payload;\nvar jsonpayload = JSON.parse(payload);\nnode.error(jsonpayload);\nif (\"Answer\" in jsonpayload) {\n   var globalContext = global;\n   var payload = global.get(\"payload\");\n   payload.botresponse.messageout.output.text = jsonpayload[\"Answer\"];\n   globalContext.set(\"payload\", payload);\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":640,"wires":[["34cb017e.ad4c56"]]},{"id":"6f42c0d8.f1782","type":"debug","z":"6bf4ae62.28e74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":440,"wires":[]},{"id":"b062a5a1.11fcd","type":"websocket in","z":"6bf4ae62.28e74","name":"","server":"2cfc5153.0f401e","client":"","x":150,"y":500,"wires":[["6f42c0d8.f1782","6e0f6f22.a5bec8"]]},{"id":"b52472ed.533fd","type":"watson-conversation-v1","z":"6bf4ae62.28e74","name":"assistant","workspaceid":"613cceb3-a1e9-422f-a84a-f0b2908a3288","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":580,"y":280,"wires":[["833a6120.92af6","ce5ddc01.4d882"]]},{"id":"34cb017e.ad4c56","type":"websocket out","z":"6bf4ae62.28e74","name":"","server":"2cfc5153.0f401e","client":"","x":760,"y":600,"wires":[]},{"id":"8d8fef4.6af679","type":"websocket out","z":"6bf4ae62.28e74","name":"","server":"913e1e51.ad8c1","client":"","x":900.888916015625,"y":494.22222900390625,"wires":[]},{"id":"64d5bfdb.af5cc8","type":"debug","z":"6bf4ae62.28e74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":280,"wires":[]},{"id":"ce5ddc01.4d882","type":"debug","z":"6bf4ae62.28e74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":240,"wires":[]},{"id":"ffb6455a.c31b7","type":"debug","z":"6bf4ae62.28e74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":120,"wires":[]},{"id":"714dc3a4.842004","type":"http in","z":"6bf4ae62.28e74","name":"","url":"/getResponse","method":"post","upload":false,"swaggerDoc":"","x":170,"y":760,"wires":[["47c4b089.f98fb"]]},{"id":"47c4b089.f98fb","type":"function","z":"6bf4ae62.28e74","name":"","func":"var globalContext = global;\npayload = globalContext.get(\"payload\"); \nnode.error(payload);\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":432,"y":762,"wires":[["40299c0.6d47b64"]]},{"id":"40299c0.6d47b64","type":"http response","z":"6bf4ae62.28e74","name":"","statusCode":"","headers":{},"x":710,"y":762,"wires":[]},{"id":"2cfc5153.0f401e","type":"websocket-listener","z":"","path":"/ws/orchestrate","wholemsg":"false"},{"id":"913e1e51.ad8c1","type":"websocket-listener","z":"","path":"ws://NODERED BASED URL/ws/orchestrate","wholemsg":"false"}]