node-red-flow/Robotic_AI_Agent_workflow.json
[{"id":"2bfad4db.2cb64c","type":"http in","z":"b5ae0807.a3e728","name":"BOT Home Page","url":"/Robot_webpage_array_new","method":"get","upload":false,"swaggerDoc":"","x":169.111083984375,"y":45.77777099609375,"wires":[["2ab04297.72b03e"]]},{"id":"2ab04297.72b03e","type":"template","z":"b5ae0807.a3e728","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n <head>\n <meta charset=\"utf-8\">\n <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n <title>\n\t My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n type=\"text/css\"\n href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n </head>\n <body>\n\n <div class=\"container\">\n <div id=\"no-script\"class=\"bg-info\">\n This application needs JavaScript enabled in your browser!\n </div>\n <div id=\"id_contextdump\"></div>\n\n <h1>Welcome to the Robot Journey</h1>\n <div id=id_botchathistory>\n\t </div>\n\t \n\t <div>\n\t <form>\n <label for=\"id_chattext\">User: </label>\n <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n <br/><br/>\n\t </form>\n\t <button onclick=\"javascript:onChatClick()\">Send</button>\n\t </div>\n </div>\n <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n <script type=\"text/javascript\">\n \n $(document).ready(function() {\n javascriptCheck();\n \t$('#id_contextdump').hide();\n });\n\n // if javascript is enabled on the browser then can\n // remove the warning message\n function javascriptCheck() {\n $('#no-script').remove();\n }\n \n function createNewDiv(who, message) {\n console.log('002-001'); \n var txt = who + ' : ' + message;\n return $('<div></div>').text(txt);\n }\n\n function chat(person, txt) {\n $('#id_botchathistory').append(createNewDiv(person, txt));\n } \n \n function processOK(response) {\n console.log('003-001');\n console.log(response);\n console.log(response.botresponse.messageout);\n console.log(response.botresponse.messageout.output.text);\n console.log(response.botresponse.messageout.context);\n chat('Bot', response.botresponse.messageout.output.text); \n $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n }\n \n function processNotOK() {\n chat('Error', 'Error whilst attempting to talk to Bot');\n }\n \n function invokeAjax(message) {\n var contextdata = $('#id_contextdump').data('convContext');\n console.log('checking stashed context data');\n console.log(contextdata);\n \n \n //var ajaxData = \"msgdata=\" + message;\n var ajaxData = {};\n ajaxData.msgdata = message;\n if (contextdata) {\n ajaxData.context = contextdata; \n }\n\n $.ajax({\n type: 'POST',\n url: 'with_array',\n data: ajaxData,\n success: processOK,\n error: processNotOK\n });\n }\n \n // User has entered some text.\n function onChatClick() {\n console.log('001-001');\n var txt = $('#id_chattext').val();\n chat('You', txt); \n invokeAjax(txt);\n console.log('001-002');\n }\n \n \n </script>\n </body>\n</html>\n","x":403.111083984375,"y":45.77777099609375,"wires":[["1dc0f4bb.3e85c3"]]},{"id":"1dc0f4bb.3e85c3","type":"http response","z":"b5ae0807.a3e728","name":"","statusCode":"","headers":{},"x":639.111083984375,"y":45.77777099609375,"wires":[]},{"id":"efd8eefb.3346d","type":"http in","z":"b5ae0807.a3e728","name":"Text Message","url":"/with_array","method":"post","upload":false,"swaggerDoc":"","x":68.111083984375,"y":147.77777099609375,"wires":[["afb65fdd.381b18"]]},{"id":"afb65fdd.381b18","type":"function","z":"b5ae0807.a3e728","name":"Pre Service Processing","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":319.111083984375,"y":345.77777099609375,"wires":[["25f1da8c.5bb94e"]]},{"id":"25f1da8c.5bb94e","type":"watson-conversation-v1","z":"b5ae0807.a3e728","name":"Conversation","workspaceid":"f76bfd27-8c26-4259-aecd-fa0aead8ea29","multiuser":false,"context":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":509.111083984375,"y":265.77777099609375,"wires":[["8296ef4a.943cd8"]]},{"id":"8296ef4a.943cd8","type":"function","z":"b5ae0807.a3e728","name":"Post Service Processing","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\n\n\n\n\nmsg.payload.botresponse = msg.mydata;\n \n//if (msg.payload.botresponse.messageout.output.action == \"question_completed\") \n//{\n\n//msg.payload.botresponse.messageout.context={};\n//}\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":739.111083984375,"y":205.77777099609375,"wires":[["106e0c57.fce8fc","36607598.d99eaa"]]},{"id":"106e0c57.fce8fc","type":"http response","z":"b5ae0807.a3e728","name":"","statusCode":"","headers":{},"x":939.111083984375,"y":145.77777099609375,"wires":[]},{"id":"36607598.d99eaa","type":"function","z":"b5ae0807.a3e728","name":"","func":"\ntemp=msg.payload.botresponse.messageout.output.action\n\n\n\n\nif (temp == \"question_completed\") \n{\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":699.111083984375,"y":365.77777099609375,"wires":[["a1b5673d.30f3d8"]]},{"id":"a1b5673d.30f3d8","type":"websocket out","z":"b5ae0807.a3e728","name":"","server":"","client":"2ebe5186.ab9776","x":830,"y":500,"wires":[]},{"id":"9440a96c.ab58f8","type":"websocket out","z":"b5ae0807.a3e728","name":"","server":"51f1189e.00bb08","client":"","x":768.111083984375,"y":568.7777709960938,"wires":[]},{"id":"32507d7.0caf382","type":"function","z":"b5ae0807.a3e728","name":"","func":"msg._session=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":516.111083984375,"y":604.7777709960938,"wires":[["9440a96c.ab58f8"]]},{"id":"6c7f8daa.fe52b4","type":"debug","z":"b5ae0807.a3e728","name":"","active":true,"console":"false","complete":"payload","x":379.111083984375,"y":500.77777099609375,"wires":[]},{"id":"6dc58653.484a1","type":"websocket in","z":"b5ae0807.a3e728","name":"","server":"51f1189e.00bb08","client":"","x":154.111083984375,"y":540.7777709960938,"wires":[["6c7f8daa.fe52b4","32507d7.0caf382"]]},{"id":"2ebe5186.ab9776","type":"websocket-client","z":"","path":"ws://NODERED_BASE_URL/ws/ws-robosocket","wholemsg":"false"},{"id":"51f1189e.00bb08","type":"websocket-listener","z":"","path":"/ws/ws-robosocket","wholemsg":"false"}]