node-red-flow/Robotic_AI_Agent_workflow.json
[{"id":"fc7221f0.803fa","type":"websocket out","z":"1166d3ec.e92b24","name":"","server":"","client":"a20d4018.64a35","x":930.888916015625,"y":534.2222290039062,"wires":[]},{"id":"c0528a71.2da128","type":"http in","z":"1166d3ec.e92b24","name":"BOT Home Page","url":"/Robot_webpage_array","method":"get","upload":false,"swaggerDoc":"","x":260,"y":80,"wires":[["80c97653.a0a398"]]},{"id":"86007f7e.9ca908","type":"watson-conversation-v1","z":"1166d3ec.e92b24","name":"Conversation","workspaceid":"Update conversation workspace id","multiuser":false,"context":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":600,"y":300,"wires":[["af45d35b.6f1698"]]},{"id":"b59124af.a6a298","type":"websocket in","z":"1166d3ec.e92b24","name":"","server":"b21684b5.d98e18","client":"","x":275,"y":575,"wires":[["e38568f8.35b0a8","b140912b.8cf4b"]]},{"id":"b140912b.8cf4b","type":"function","z":"1166d3ec.e92b24","name":"","func":"msg._session=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":607,"y":639,"wires":[["d73f759d.7e5828"]]},{"id":"e38568f8.35b0a8","type":"debug","z":"1166d3ec.e92b24","name":"","active":true,"console":"false","complete":"false","x":470,"y":535,"wires":[]},{"id":"d73f759d.7e5828","type":"websocket out","z":"1166d3ec.e92b24","name":"","server":"b21684b5.d98e18","client":"","x":889,"y":603,"wires":[]},{"id":"79ba9933.02d518","type":"http in","z":"1166d3ec.e92b24","name":"Text Message","url":"/with_array","method":"post","upload":false,"swaggerDoc":"","x":159,"y":182,"wires":[["e4299696.51de88"]]},{"id":"af45d35b.6f1698","type":"function","z":"1166d3ec.e92b24","name":"Post Service Processing","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\n\n\n\n\nmsg.payload.botresponse = msg.mydata;\n \n//if (msg.payload.botresponse.messageout.output.action == \"question_completed\") \n//{\n\n//msg.payload.botresponse.messageout.context={};\n//}\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":830,"y":240,"wires":[["1c2b13d9.cdcadc","811fa7e0.6b6b18"]]},{"id":"1c2b13d9.cdcadc","type":"http response","z":"1166d3ec.e92b24","name":"","statusCode":"","headers":{},"x":1030,"y":180,"wires":[]},{"id":"80c97653.a0a398","type":"template","z":"1166d3ec.e92b24","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>Welcome to the Robot Journey</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\">Send</button>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    \n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div></div>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('003-001');\n        console.log(response);\n        console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        chat('Bot', response.botresponse.messageout.output.text); \n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        console.log('checking stashed context data');\n        console.log(contextdata);\n        \n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'with_array',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        console.log('001-001');\n        var txt = $('#id_chattext').val();\n        chat('You', txt); \n        invokeAjax(txt);\n        console.log('001-002');\n      }\n      \n        \n    </script>\n  </body>\n</html>\n","x":494,"y":80,"wires":[["6d2d925d.123a14"]]},{"id":"6d2d925d.123a14","type":"http response","z":"1166d3ec.e92b24","name":"","statusCode":"","headers":{},"x":730,"y":80,"wires":[]},{"id":"e4299696.51de88","type":"function","z":"1166d3ec.e92b24","name":"Pre Service Processing","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["86007f7e.9ca908"]]},{"id":"811fa7e0.6b6b18","type":"function","z":"1166d3ec.e92b24","name":"","func":"\ntemp=msg.payload.botresponse.messageout.output.action\n\n\n\n\nif (temp == \"question_completed\") \n{\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":790,"y":400,"wires":[["fc7221f0.803fa"]]},{"id":"a20d4018.64a35","type":"websocket-client","z":"","path":"ws://NODERED_BASE_URL/ws/Robot_webpage","wholemsg":"false"},{"id":"b21684b5.d98e18","type":"websocket-listener","z":"","path":"/ws/Robot_webpage","wholemsg":"false"}]