node-red-flow/second_flow.json
[{"id":"5f3d22ef.cd291c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"526c9944.b2a19","type":"http in","z":"5f3d22ef.cd291c","name":"","url":"/getAnswer","method":"post","upload":false,"swaggerDoc":"","x":200,"y":260,"wires":[["c4af47f9.b5e7b8","4dbb9f44.c9b58"]]},{"id":"84b9a665.85956","type":"http response","z":"5f3d22ef.cd291c","name":"","statusCode":"","headers":{},"x":790,"y":200,"wires":[]},{"id":"9489653f.31fef","type":"delay","z":"5f3d22ef.cd291c","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":160,"wires":[["102af3a1.8add64"]]},{"id":"c4af47f9.b5e7b8","type":"debug","z":"5f3d22ef.cd291c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":364,"y":337.25,"wires":[]},{"id":"102af3a1.8add64","type":"http request","z":"5f3d22ef.cd291c","name":"getAnswerFromContext","method":"POST","ret":"txt","url":"NODERED BASED URL/getResponse","tls":"","x":580,"y":255.5,"wires":[["84b9a665.85956","13cc55f8.989222"]]},{"id":"4dbb9f44.c9b58","type":"http request","z":"5f3d22ef.cd291c","name":"invoke socket","method":"POST","ret":"txt","url":"NODERED BASED URL/sendmsgsocket","tls":"","x":360,"y":160,"wires":[["9489653f.31fef"]]},{"id":"99dcbec7.e314b8","type":"comment","z":"5f3d22ef.cd291c","name":"Provide a ReST endpoint to be invoked by clients","info":"","x":280,"y":100,"wires":[]},{"id":"fc9b9951.3776e8","type":"http in","z":"5f3d22ef.cd291c","name":"BOT Home Page","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":200,"y":420,"wires":[["9f222db1.5a77f"]]},{"id":"9f222db1.5a77f","type":"template","z":"5f3d22ef.cd291c","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n <head>\n <meta charset=\"utf-8\">\n <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n <title>\n\t My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n type=\"text/css\"\n href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n </head>\n <body>\n\n <div class=\"container\">\n <div id=\"no-script\"class=\"bg-info\">\n This application needs JavaScript enabled in your browser!\n </div>\n <div id=\"id_contextdump\"></div>\n\n <h1>Welcome to the Robot Journey</h1>\n <div id=id_botchathistory>\n\t </div>\n\t \n\t <div>\n\t <form>\n <label for=\"id_chattext\">User: </label>\n <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n <br/><br/>\n\t </form>\n\t <button onclick=\"javascript:onChatClick()\">Send</button>\n\t </div>\n </div>\n <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n <script type=\"text/javascript\">\n \n $(document).ready(function() {\n javascriptCheck();\n \t$('#id_contextdump').hide();\n });\n\n // if javascript is enabled on the browser then can\n // remove the warning message\n function javascriptCheck() {\n $('#no-script').remove();\n }\n \n function createNewDiv(who, message) {\n console.log('002-001'); \n var txt = who + ' : ' + message;\n return $('<div></div>').text(txt);\n }\n\n function chat(person, txt) {\n $('#id_botchathistory').append(createNewDiv(person, txt));\n } \n \n function processOK(response) {\n     response = JSON.parse(response)\n console.log('003-001');\n console.log(response);\n console.log(response.botresponse.messageout);\n console.log(response.botresponse.messageout.output.text);\n console.log(response.botresponse.messageout.context);\n chat('Bot', response.botresponse.messageout.output.text); \n $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n }\n \n function processNotOK() {\n     alert(\"error\")\n chat('Error', 'Error whilst attempting to talk to Bot');\n }\n \n function invokeAjax(message) {\n var contextdata = $('#id_contextdump').data('convContext');\n console.log('checking stashed context data');\n console.log(contextdata);\n \n \n //var ajaxData = \"msgdata=\" + message;\n var ajaxData = {};\n ajaxData.msgdata = message;\n if (contextdata) {\n ajaxData.context = contextdata; \n }\n\n $.ajax({\n type: 'POST',\n url: 'getAnswer',\n data: ajaxData,\n success: processOK,\n error: processNotOK\n });\n }\n \n // User has entered some text.\n function onChatClick() {\n console.log('001-001');\n var txt = $('#id_chattext').val();\n chat('You', txt); \n invokeAjax(txt);\n console.log('001-002');\n }\n \n \n </script>\n </body>\n</html>\n","x":434,"y":420,"wires":[["bae802b4.8beb98"]]},{"id":"bae802b4.8beb98","type":"http response","z":"5f3d22ef.cd291c","name":"","statusCode":"","headers":{},"x":670,"y":420,"wires":[]},{"id":"13cc55f8.989222","type":"debug","z":"5f3d22ef.cd291c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":340,"wires":[]}]